.taskSelect{
    width: 100%;
    height: 1.333rem;
    background-color: #fff;
}
.taskSelect>div{
    float: left;
    width: 50%;
}
.taskSelect .border{
    width: 2.666rem;
    margin: auto;
    line-height: 1.3rem;
    text-align: center;
    font-size: 0.453rem;
}
.taskSelect .online{
    border-bottom: 1px solid #ffa726;
    color: #ffa726;
}

/*
    任务列表部分
*/
.taskList{
    margin-top: 0.133rem;
}
.taskList>li{
    height: 1.866rem;
    background-color: #fff;
    border-bottom: 1px solid #bdbdbd;
}
.taskList .headBox{
    float: left;
}
.taskList .headBox .userHead{
    width: 1.12rem;
    height: 1.12rem;
    border-radius: 0.2rem;
    margin: 0.36rem 0.4rem 0 0.533rem;
}
.taskList .titleBox{
    float: left;
    padding-top: 0.2rem;
}
.taskList .titleBox p{
    font-size: 0.293rem;
    color: #bdbdbd;
    line-height: 0.5rem;
}
.taskList .reward span{
    color: #ffa726;
}
.taskList .titleBox .lineOne{
    font-size: 0.346rem;
    color: #212121;
}
.taskList .progressBox{
    float: right;
    margin:0.1rem 0.266rem 0;
}
.taskList .progressBox .progressNum{
    text-align: center;
    font-size: 0.4rem;
    line-height: 0.8rem;
    color: #ffa726;
}
.taskList .progressBox .onlineC{
    color: #fe2928;
}
.taskList .progressState a{
    padding: 0.1rem;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    background-color: #ffa726;
}
.taskList .progressState .online{
    background-color: #fe2928;
}